
         body {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-start;
            align-items: center;
            margin: 0;
            padding: 0;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-image: url('https://static.vecteezy.com/system/resources/previews/002/065/154/original/airplane-passport-and-boarding-pass-on-empty-background-with-copy-space-for-text-travel-background-illustration-free-vector.jpg')
        }
    
        header {
            background-color: #333;
            color: #fff;
            padding: 20px;
            width: 100%;
        }
    
        h1 {
            font-size: 3rem;
            text-align: center;
            margin: 0;
            margin-bottom: 20px;
        }
    
        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
    
        nav ul li {
            margin: 0 10px;
        }
    
        nav ul li a {
            color: #fff;
            font-size: 1.5rem;
            text-decoration: none;
            padding: 10px 20px;
            border-radius: 5px;
            transition: all 0.3s ease-in-out;
        }
    
        nav ul li a:hover {
            background-color: #fff;
            color: #333;
        }
    
        em {
            color: #1e90ff;
            font-weight: bold;
        }