<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entries Index</title>
    <style>
        body {
            background-image: url('https://www.kiwi.com/stories/wp-content/uploads/2018/06/shutterstock_562734511.jpg');
            background-size: cover;
            font-family: Arial, sans-serif;
        }
        header {
            background-color: #004d40;
            color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
        }
        nav ul {
            display: flex;
            justify-content: space-between;
            list-style: none;
        }
        nav ul li a {
            color: #004d40;
            text-decoration: none;
            padding: 10px;
            border-radius: 5px;
            transition: background-color 0.3s ease;
            transition: color 0.3s ease;
        }
        nav ul li a:hover {
            background-color: #004d40;
            color: white;
            text-decoration: none;
        }
        h1 {
            font-size: 50px;
            margin: 0;
        }
        h2 {
            font-size: 30px;
            margin-top: 40px;
        }
        ul {
            list-style: none;
            padding: 0;
        }
        li {
            margin-bottom: 20px;
            background-color: white;
            border-radius: 5px;
            padding: 20px;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
        }
        li.visited {
            background-color: #e0f2f1;
        }
        li.unvisited {
            background-color: #ffccbc;
        }
        a {
            color: #009688;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
        h4:hover {
            text-decoration: underline;
        }
    </style>
    
</head>
<body>
    <header>
    <h1>Entries</h1>
    <h4 id="all">All</h4>
    <h4 id="visited">Visited</h4>
    <h4 id="unvisited">Unvisited</h4>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/entries/new">Create a new Entry</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>List of Entries</h2>
            <ul>
               <% for( let i = 0; i < entries.length; i++ ) { %>
                    <li <%if (!entries[i].visited) {%> class='unvisited' <% } else { %> class='visited' <% } %>><a href="/entries/<%= entries[i]._id%>"><%= entries[i].country %></a>
                        <% if (entries[i].region) { %>
                    <ul>
                    <li><%=entries[i].region%></li>
                    <% } %>
                    <ul>
                    <li><%=entries[i].city%></li>
                    </ul>
                    <% if (entries[i].region) { %>
                    </ul>
                </li>
                <% } %>
                <% } %>
            </ul>
        <!-- <h2> Traveler's Checklist</h2> -->
    </main>
    <script>
        let visitedElements = document.querySelectorAll('.visited')
        let unvisitedElements = document.querySelectorAll('.unvisited')
        console.log(visitedElements)
        console.log(unvisitedElements)

        document.getElementById('all').addEventListener("click", myFunction1);
        document.getElementById('visited').addEventListener("click", myFunction2);
        document.getElementById('unvisited').addEventListener("click", myFunction3);

        
function myFunction1() {
    visitedElements.forEach((element) => {
        element.style.display = 'block';
    });
    unvisitedElements.forEach((element) => {
        element.style.display = 'block';
    });
}
function myFunction2() {
    visitedElements.forEach((element) => {
        element.style.display = 'block';
    });
    unvisitedElements.forEach((element) => {
        element.style.display = 'none';
    });
}
function myFunction3() {
    visitedElements.forEach((element) => {
        element.style.display = 'none';
    });
    unvisitedElements.forEach((element) => {
        element.style.display = 'block';
    });
}
    </script>
</body>
</html>